{% extends 'main/layout.html' %}

{% block title %}DeskPC - admin panel{% endblock %}

{% block content %}
    <div class="feature">
    <div class="mainpage" style="padding-top: 100px;">
            <img src='/static/main/img/logo.svg' style="width: 250px;" alt="Лого">
            <br><span style="font-family: 'Montserrat ExtraLight'; font-size: 40px" class="logo">Вас приветствует программное обеспечение</span>
            <span style="font-family: 'Montserrat ExtraBold'; font-size: 40px"><br> DeskPC</span>
    </div>
    </div>

{% endblock %}